@import "module";
@import "../fonts/all.css";
@import "../fonts/pretendard.css";
@import "../fonts/montserrat.css";

/*-------------------------------------------------
File        : basic.css
Author      : COMMIN (GH.SEO)
Create date : 2022-09-28
Version     : 1.0
-------------------------------------------------*/

// hide
.sr,
.blind,
.hidden { overflow: hidden; position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; border: 0 none; clip: rect(0, 0, 0, 0); }
// float
.fl{ float:left !important;}
.fr{ float:right !important;}
.clr:after{ display:block; content:""; clear:both;}
// text align
.tc { text-align:center !important;}
.tl { text-align:left !important;}
.tr { text-align:right !important;}
// display
.dp_block { display: block !important;}
.dp_inline { display: inline !important;}
.dp_inline-block { display: inline-block !important;}

// border none
.bd_none{ border:0 !important;}
.mg_none{ margin:0 !important;}
.pd_none { padding:0 !important;}
// color
.ft_red { color:#E82717 !important; }
.ft_green { color:#5CA10E !important;}
.ft_blue { color:#009CDC !important;}
// deco
.underline { text-decoration: underline;}

.fw { // font weight
    &100 {font-weight: 100 !important;}
    &200 {font-weight: 200 !important;}
    &300 {font-weight: 300 !important;}
    &400 {font-weight: 400 !important;}
    &500 {font-weight: 500 !important;}
    &600 {font-weight: 600 !important;}
    &700 {font-weight: 700 !important;}
    &800 {font-weight: 800 !important;}
    &900 {font-weight: 900 !important;}
    &_thin {font-weight: 100 !important;}
    &_extra_light {font-weight: 200 !important;}
    &_light {font-weight: 300 !important;}
    &_ragulart {font-weight: 400 !important;}
    &_medium {font-weight: 500 !important;}
    &_semi_bold {font-weight: 600 !important;}
    &_bold {font-weight: 700 !important;}
    &_extra_bold {font-weight: 800 !important;}
    &_black {font-weight: 900 !important;}
}
// padding margin
.fs { // font-size
    &10 {font-size: 1.0rem !important;}
    &11 {font-size: 1.1rem !important;}
    &12 {font-size: 1.2rem !important;}
    &13 {font-size: 1.3rem !important;}
    &14 {font-size: 1.4rem !important;}
    &15 {font-size: 1.5rem !important;}
    &16 {font-size: 1.6rem !important;}
    &17 {font-size: 1.7rem !important;}
    &18 {font-size: 1.8rem !important;}
    &19 {font-size: 1.9rem !important;}
    &20 {font-size: 2.0rem !important;}
    &21 {font-size: 2.1rem !important;}
    &22 {font-size: 2.2rem !important;}
    &23 {font-size: 2.3rem !important;}
    &24 {font-size: 2.4rem !important;}
    &25 {font-size: 2.5rem !important;}
    &26 {font-size: 2.6rem !important;}
    &27 {font-size: 2.7rem !important;}
    &28 {font-size: 2.8rem !important;}
    &29 {font-size: 2.9rem !important;}
    &30 {font-size: 3.0rem !important;}
    &31 {font-size: 3.1rem !important;}
    &32 {font-size: 3.2rem !important;}
    &33 {font-size: 3.3rem !important;}
    &34 {font-size: 3.4rem !important;}
    &35 {font-size: 3.5rem !important;}
    &36 {font-size: 3.6rem !important;}
    &37 {font-size: 3.7rem !important;}
    &38 {font-size: 3.8rem !important;}
    &39 {font-size: 3.9rem !important;}
    &40 {font-size: 4.0rem !important;}
    &41 {font-size: 4.1rem !important;}
    &42 {font-size: 4.2rem !important;}
    &43 {font-size: 4.3rem !important;}
    &44 {font-size: 4.4rem !important;}
    &45 {font-size: 4.5rem !important;}
    &46 {font-size: 4.6rem !important;}
    &47 {font-size: 4.7rem !important;}
    &48 {font-size: 4.8rem !important;}
    &49 {font-size: 4.9rem !important;}
    &50 {font-size: 5.0rem !important;}
}
.pt { // padding-top
    &0   {padding-top: 0.0rem !important;}
    &5   {padding-top: 0.5rem !important;}
    &10  {padding-top: 1.0rem !important;}
    &15  {padding-top: 1.5rem !important;}
    &20  {padding-top: 2.0rem !important;}
    &25  {padding-top: 2.5rem !important;}
    &30  {padding-top: 3.0rem !important;}
    &35  {padding-top: 3.5rem !important;}
    &40  {padding-top: 4.0rem !important;}
    &45  {padding-top: 4.5rem !important;}
    &50  {padding-top: 5.0rem !important;}
    &55  {padding-top: 5.5rem !important;}
    &60  {padding-top: 6.0rem !important;}
    &65  {padding-top: 6.5rem !important;}
    &70  {padding-top: 7.0rem !important;}
    &75  {padding-top: 7.5rem !important;}
    &80  {padding-top: 8.0rem !important;}
    &85  {padding-top: 8.5rem !important;}
    &90  {padding-top: 9.0rem !important;}
    &95  {padding-top: 9.5rem !important;}
    &100 {padding-top: 10rem !important;}
}
.pr { // padding-right
    &0   {padding-right: 0.0rem !important;}
    &5   {padding-right: 0.5rem !important;}
    &10  {padding-right: 1.0rem !important;}
    &15  {padding-right: 1.5rem !important;}
    &20  {padding-right: 2.0rem !important;}
    &25  {padding-right: 2.5rem !important;}
    &30  {padding-right: 3.0rem !important;}
    &35  {padding-right: 3.5rem !important;}
    &40  {padding-right: 4.0rem !important;}
    &45  {padding-right: 4.5rem !important;}
    &50  {padding-right: 5.0rem !important;}
    &55  {padding-right: 5.5rem !important;}
    &60  {padding-right: 6.0rem !important;}
    &65  {padding-right: 6.5rem !important;}
    &70  {padding-right: 7.0rem !important;}
    &75  {padding-right: 7.5rem !important;}
    &80  {padding-right: 8.0rem !important;}
    &85  {padding-right: 8.5rem !important;}
    &90  {padding-right: 9.0rem !important;}
    &95  {padding-right: 9.5rem !important;}
    &100 {padding-right: 10rem !important;}
}
.pb { // padding-bottom
    &0   {padding-bottom: 0.0rem !important;}
    &5   {padding-bottom: 0.5rem !important;}
    &10  {padding-bottom: 1.0rem !important;}
    &15  {padding-bottom: 1.5rem !important;}
    &20  {padding-bottom: 2.0rem !important;}
    &25  {padding-bottom: 2.5rem !important;}
    &30  {padding-bottom: 3.0rem !important;}
    &35  {padding-bottom: 3.5rem !important;}
    &40  {padding-bottom: 4.0rem !important;}
    &45  {padding-bottom: 4.5rem !important;}
    &50  {padding-bottom: 5.0rem !important;}
    &55  {padding-bottom: 5.5rem !important;}
    &60  {padding-bottom: 6.0rem !important;}
    &65  {padding-bottom: 6.5rem !important;}
    &70  {padding-bottom: 7.0rem !important;}
    &75  {padding-bottom: 7.5rem !important;}
    &80  {padding-bottom: 8.0rem !important;}
    &85  {padding-bottom: 8.5rem !important;}
    &90  {padding-bottom: 9.0rem !important;}
    &95  {padding-bottom: 9.5rem !important;}
    &100 {padding-bottom: 10rem !important;}
}
.pl { // padding-left
    &0   {padding-left: 0.0rem !important;}
    &5   {padding-left: 0.5rem !important;}
    &10  {padding-left: 1.0rem !important;}
    &15  {padding-left: 1.5rem !important;}
    &20  {padding-left: 2.0rem !important;}
    &25  {padding-left: 2.5rem !important;}
    &30  {padding-left: 3.0rem !important;}
    &35  {padding-left: 3.5rem !important;}
    &40  {padding-left: 4.0rem !important;}
    &45  {padding-left: 4.5rem !important;}
    &50  {padding-left: 5.0rem !important;}
    &55  {padding-left: 5.5rem !important;}
    &60  {padding-left: 6.0rem !important;}
    &65  {padding-left: 6.5rem !important;}
    &70  {padding-left: 7.0rem !important;}
    &75  {padding-left: 7.5rem !important;}
    &80  {padding-left: 8.0rem !important;}
    &85  {padding-left: 8.5rem !important;}
    &90  {padding-left: 9.0rem !important;}
    &95  {padding-left: 9.5rem !important;}
    &100 {padding-left: 10rem !important;}
}
.mt { // margin-top
    &0   {margin-top: 0.0rem !important;}
    &5   {margin-top: 0.5rem !important;}
    &10  {margin-top: 1.0rem !important;}
    &15  {margin-top: 1.5rem !important;}
    &20  {margin-top: 2.0rem !important;}
    &25  {margin-top: 2.5rem !important;}
    &30  {margin-top: 3.0rem !important;}
    &35  {margin-top: 3.5rem !important;}
    &40  {margin-top: 4.0rem !important;}
    &45  {margin-top: 4.5rem !important;}
    &50  {margin-top: 5.0rem !important;}
    &55  {margin-top: 5.5rem !important;}
    &60  {margin-top: 6.0rem !important;}
    &65  {margin-top: 6.5rem !important;}
    &70  {margin-top: 7.0rem !important;}
    &75  {margin-top: 7.5rem !important;}
    &80  {margin-top: 8.0rem !important;}
    &85  {margin-top: 8.5rem !important;}
    &90  {margin-top: 9.0rem !important;}
    &95  {margin-top: 9.5rem !important;}
    &100 {margin-top: 10rem !important;}
}
.mr { // margin-right
    &0   {margin-right: 0.0rem !important;}
    &5   {margin-right: 0.5rem !important;}
    &10  {margin-right: 1.0rem !important;}
    &15  {margin-right: 1.5rem !important;}
    &20  {margin-right: 2.0rem !important;}
    &25  {margin-right: 2.5rem !important;}
    &30  {margin-right: 3.0rem !important;}
    &35  {margin-right: 3.5rem !important;}
    &40  {margin-right: 4.0rem !important;}
    &45  {margin-right: 4.5rem !important;}
    &50  {margin-right: 5.0rem !important;}
    &55  {margin-right: 5.5rem !important;}
    &60  {margin-right: 6.0rem !important;}
    &65  {margin-right: 6.5rem !important;}
    &70  {margin-right: 7.0rem !important;}
    &75  {margin-right: 7.5rem !important;}
    &80  {margin-right: 8.0rem !important;}
    &85  {margin-right: 8.5rem !important;}
    &90  {margin-right: 9.0rem !important;}
    &95  {margin-right: 9.5rem !important;}
    &100 {margin-right: 10rem !important;}
}
.mb { // margin-bottom
    &0   {margin-bottom: 0.0rem !important;}
    &5   {margin-bottom: 0.5rem !important;}
    &10  {margin-bottom: 1.0rem !important;}
    &15  {margin-bottom: 1.5rem !important;}
    &20  {margin-bottom: 2.0rem !important;}
    &25  {margin-bottom: 2.5rem !important;}
    &30  {margin-bottom: 3.0rem !important;}
    &35  {margin-bottom: 3.5rem !important;}
    &40  {margin-bottom: 4.0rem !important;}
    &45  {margin-bottom: 4.5rem !important;}
    &50  {margin-bottom: 5.0rem !important;}
    &55  {margin-bottom: 5.5rem !important;}
    &60  {margin-bottom: 6.0rem !important;}
    &65  {margin-bottom: 6.5rem !important;}
    &70  {margin-bottom: 7.0rem !important;}
    &75  {margin-bottom: 7.5rem !important;}
    &80  {margin-bottom: 8.0rem !important;}
    &85  {margin-bottom: 8.5rem !important;}
    &90  {margin-bottom: 9.0rem !important;}
    &95  {margin-bottom: 9.5rem !important;}
    &100 {margin-bottom: 10rem !important;}
}
.ml { // margin-left
    &0   {margin-left: 0.0rem;}
    &5   {margin-left: 0.5rem;}
    &10  {margin-left: 1.0rem;}
    &15  {margin-left: 1.5rem;}
    &20  {margin-left: 2.0rem;}
    &25  {margin-left: 2.5rem;}
    &30  {margin-left: 3.0rem;}
    &35  {margin-left: 3.5rem;}
    &40  {margin-left: 4.0rem;}
    &45  {margin-left: 4.5rem;}
    &50  {margin-left: 5.0rem;}
    &55  {margin-left: 5.5rem;}
    &60  {margin-left: 6.0rem;}
    &65  {margin-left: 6.5rem;}
    &70  {margin-left: 7.0rem;}
    &75  {margin-left: 7.5rem;}
    &80  {margin-left: 8.0rem;}
    &85  {margin-left: 8.5rem;}
    &90  {margin-left: 9.0rem;}
    &95  {margin-left: 9.5rem;}
    &100 {margin-left: 10rem;}
}
/* ------------------------------------------------------------
    리셋 CSS
------------------------------------------------------------ */ 
*, *::before, *::after { box-sizing: inherit; }
html { overflow: hidden; overflow-y: auto; box-sizing: border-box; }
body { overflow: hidden; position: relative; margin: 0; padding: 0; font-size: 1.6rem; line-height:$lh; font-weight: 300; color:$fc; border-color: $bd; letter-spacing: $ls; 
background: $bg;
font-family: $ff1, $ff2, $ff4;
}
i { color:$fc-icon;}
header, footer, main, section, article, nav, aside { display: block; }
ul, ol, li, dl, dt, dd { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, h4, h5, h6, p, form, figure, figcaption { margin: 0; padding: 0; }
fieldset, hr { display: block; margin: 0; padding: 0; border: 0 none; width: 100%; max-width: 100%; min-width: 100%;}
input, select { max-width: 100%; vertical-align: middle; }
input, select, button, textarea, optgroup { margin: 0; font-family: inherit; font-size: inherit; color: inherit; }
caption, legend { overflow:hidden; width:0px; height:0px; padding:0; margin-top:-1px; font-size:0; line-height:0; text-indent:-9999px}
select { appearance: none; -webkit-appearance: none; -moz-appearance: none; }
select::-ms-expand { display: none; }
address, em, i, small, b { font-style: normal; font-size: 1.6rem;}
h1, h2, h3, h4, h5, h6, strong { font-weight: 600; }
a { color: inherit; text-decoration: none; }
button { padding: 0; border: 0 none; background: none; cursor: pointer; }
input[type='submit'] { appearance: none; }
textarea::placeholder, input::placeholder { color:rgba(51, 51, 51, 0.3); }
:disabled { background-color: #F8F8F8 !important; }
img { max-width: 100%; border: 0 none; font-size: 0; vertical-align: middle; }
table { width: 100%; border-collapse: collapse; }
mark {}
html { font-size: 8px;
@media (min-width: 767px ) {font-size: 8px;}
@media (min-width: 1023px) {font-size: 9px;}
@media (min-width: 1439px) {font-size: 10px;}}