@font-face {
	font-family: 'Montserrat';
    font-style: normal;
	font-weight: 100;
	font-display: block;
	src: local('Montserrat-Thin'),
    url('montserrat/Montserrat-Thin.eot') format('eot'),
    url('montserrat/Montserrat-Thin.woff2') format('woff2'),
    url('montserrat/Montserrat-Thin.woff') format('woff');
}
@font-face {
	font-family: 'Montserrat';
    font-style: normal;
	font-weight: 200;
	font-display: block;
	src: local('Montserrat-ExtraLight'),
    url('montserrat/Montserrat-ExtraLight.eot') format('eot'),
    url('montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
    url('montserrat/Montserrat-ExtraLight.woff') format('woff');
}
@font-face {
	font-family: 'Montserrat';
    font-style: normal;
	font-weight: 300;
	font-display: block;
	src: local('Montserrat-Light'),
    url('montserrat/Montserrat-Light.eot') format('eot'),
    url('montserrat/Montserrat-Light.woff2') format('woff2'),
    url('montserrat/Montserrat-Light.woff') format('woff');
}
@font-face {
	font-family: 'Montserrat';
    font-style: normal;
	font-weight: 400;
	font-display: block;
	src: local('Montserrat-Regulart'),
    url('montserrat/Montserrat-Regular.eot') format('eot'),
    url('montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('montserrat/Montserrat-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Montserrat';
    font-style: normal;
	font-weight: 500;
	font-display: block;
	src: local('Montserrat-Medium'),
    url('montserrat/Montserrat-Medium.eot') format('eot'),
    url('montserrat/Montserrat-Medium.woff2') format('woff2'),
    url('montserrat/Montserrat-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Montserrat';
    font-style: normal;
	font-weight: 600;
	font-display: block;
	src: local('Montserrat-SemiBold'),
    url('montserrat/Montserrat-SemiBold.eot') format('eot'),
    url('montserrat/Montserrat-SemiBold.woff2') format('woff2'),
    url('montserrat/Montserrat-SemiBold.woff') format('woff');
}
@font-face {
	font-family: 'Montserrat';
    font-style: normal;
	font-weight: 700;
	font-display: block;
	src: local('Montserrat-Bold'),
    url('montserrat/Montserrat-Bold.eot') format('eot'),
    url('montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('montserrat/Montserrat-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Montserrat';
    font-style: normal;
	font-weight: 800;
	font-display: block;
	src: local('Montserrat-ExtraBold'),
    url('montserrat/Montserrat-ExtraBold.eot') format('eot'),
    url('montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
    url('montserrat/Montserrat-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'Montserrat';
    font-style: normal;
	font-weight: 900;
	font-display: block;
	src: local('Montserrat-Black'),
    url('montserrat/Montserrat-Black.eot') format('eot'),
    url('montserrat/Montserrat-Black.woff2') format('woff2'),
    url('montserrat/Montserrat-Black.woff') format('woff');
}

